//$p1: #03a9f4;
//$p1l1: lighten($p1, 10%);
//$p1l2: lighten($p1, 20%);
//$p1l3: lighten($p1, 30%);
//
//$p1d1: darken($p1, 10%);
//$p1d2: darken($p1, 20%);
//$p1d3: darken($p1, 30%);


$font_main: #6b1c1c;

$font_main_hv: #ff7022;

$font_side: #294766;

$font_loud: #ff0000;

$font_text: #6b798d;

$font_link: #126aad;

$pt_bg: #ffd800;

$social: #8e8c8c;

$social_hv: #f49f1d;

$large_btn: #e8e8e6;

$font_list: #768396;